<!DOCTYPE html>
<html>
    <head>
        <title>Music Player</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="style.css" />
<style>
#ring {
   animation: fs 1s infinite;
}

@keyframes fs {
  0% { border: 4px solid red}
  25% { border: 4px solid green}
  50% { border: 4px solid skyblue}
  75% { border: 4px solid orange}
  100% { border: 4px solid blue}
}

</style>
    </head>
    <body>
<% var zz = 0; %>
        <div id="otherMusic">
            <div id="allMusic">

<% var qz = 0; %>
<% lister.forEach((fil) => { %>       
           <div id="musicBox">
                <img src="<%= picture[qz] %>" />
<% qz += 1 %>
<% if (currentMusic == fil) { %>
                    <h5><marquee><%= fil.slice(0, -4)  %></marquee></h5>
<% } else { %>
                    <h5><%= fil.slice(0,30) %>...</h5>
<% } %>
                    <p id="gg">▶ ılıılıılıılıılıılı</p>
		    <a href="/?song=<%= zz %>">
                    <div id="btnPlay" style="background-color:#fff;">
<% if (currentMusic == fil) { %>

<!--                        <div id="des1"></div><div id="des2"></div><div id="des3"></div><div id="des4"></div> -->
<div id="ring" style="width:20px; height:20px; border-radius:50%;border:4px solid red"></div>
<% } else { %>
                        <svg width="64px" height="64px" viewBox="-11.08 -11.08 50.16 50.16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21.4086 9.35258C23.5305 10.5065 23.5305 13.4935 21.4086 14.6474L8.59662 21.6145C6.53435 22.736 4 21.2763 4 18.9671L4 5.0329C4 2.72368 6.53435 1.26402 8.59661 2.38548L21.4086 9.35258Z" fill="#000000"></path> </g></svg>
<% } %>
                    </div>
		    </a>
                </div>
<% zz += 1 %>
<% }) %>
            </div>
        </div>
<script>
var myAudio = new Audio("music/<%= currentMusic %>");

<% var vale = playNow*50-70 %>
document.getElementById('allMusic').scroll({top:<%= vale %>});

if(<%= playNow %>) {
    myAudio.play();
}

function player() {
  return (myAudio.paused) ? myAudio.play() : myAudio.pause()
}

      </script>
    </body>
</html>
